*{
    margin: 0;
}
h1{
    text-align: center;
    color:rgb(244,145,145)
}

header{
    width: 100%;
    height: 1.5rem;
    background-color: rgb(243,194,194);
    text-align: center;
    margin: auto;
}


.content{
    width: 100%;
    height: 3rem;
    background-color: rgb(255,245,245);
}
.container{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.tag{
    margin-top: 1rem;
    list-style: none;
}

.picture-page{
    display: grid;
    grid-template-columns: 100px 200px 150px 300px 100px 250px 100px;
    gap: 100px;
    grid-template-rows: 110px 580px 50px;
    width: 100%;
    height: 10%;
    background-color:rgb(244,145,145) ;
}


.one{

    grid-column: 1 / span 1;
    width: 100px;
}
.two{
    font-size: 1rem;
    grid-column: 2/ span 1;
    text-align: center;
    margin: auto;

}
.two p{
    font-size: 1.2em;

}

.three{
    grid-column: 3;
}

.five{
    grid-column: 4;
}

.five .title{
    padding-left: 15px;
    font-size: 1.5em;
    font-weight: bold;
}

.five .subtitle{
    padding-left: 12px;
    font-size: 0.8em;
    font-weight: bold;
}

.six{
    grid-column: 5;
}

.sen{
    font-size: 1.2em;

    margin: auto;
    grid-column:  6;
}


.eight{
    grid-column: 7;
}


.description{
    width: 85%;
    height: 60%;
    margin: 30px auto auto auto;
    display: grid;
    grid-template-columns: 680px 800px 82px;
    grid-template-rows: 30px 451px;
    gap: 5px;
}
.description img{
    grid-column: 1;
    grid-row: 2;
}

.description h3{
    font-size: 1.5em;
    font-weight: bold;
    grid-column: 2;
    grid-row: 1;
}
.description p{
    font-size: 1.2em;
    font-weight: normal;
    grid-column: 2;
    grid-row: 2;
    width: 600px;
    height: 500px;
}

.description button{
    margin-left: 50px;
    grid-column: 3;
    grid-row: 1;
    width: 90px;
    height: 50px;
}
.selection1{
    grid-column: 1;
    width: 320px;
    height:50px;
    grid-row:3;
}
.selection2{
    margin-left: 330px;
    grid-column: 1;
    width: 100px;
    height:50px;
    grid-row:3;
}


.comment{
    margin-left: 450px;
    /*margin-top: 15px;*/
    grid-column: 1;
    grid-row: 3;

}

.comment input{

    width: 300px;
    height: 100px;
}