* {
  margin: 0;
}
body {
}
h1 {
  text-align: center;
  color: rgb(244, 145, 145);
  margin: 10px 0 10px 0;
}

header {
  display: flex;
  width: 100%;
  height: 5%;
  background-color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}
.container {
  width: 100%;
  height: 3rem;
  background-color: rgb(255, 245, 245);
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}
.container .tag a {
  text-decoration: none;
  color: grey;
}

.tag {
  margin-top: 1rem;
  list-style: none;
}

.navbar {
  width: 100%;
  height: 10%;
  background-image: url("picture/photo-1595475884562-073c30d45670.jpg");
  background-size: 1920px;
  background-position: -1px -759px;
  background-repeat: no-repeat;
}
